<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %> 
<body>
    <%- include('./partials/nav.ejs') %> 

    <div class="about content">
        <h2>About us</h2>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Recusandae voluptates tempora, repellendus molestias consectetur labore vel aliquam in sunt possimus laudantium fugiat consequuntur dolorem alias officiis perferendis sequi illum libero!</p>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Recusandae voluptates tempora, repellendus molestias consectetur labore vel aliquam in sunt possimus laudantium fugiat consequuntur dolorem alias officiis perferendis sequi illum libero!</p>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Recusandae voluptates tempora, repellendus molestias consectetur labore vel aliquam in sunt possimus laudantium fugiat consequuntur dolorem alias officiis perferendis sequi illum libero!</p>
    </div>
    <%- include('./partials/footer.ejs') %> 
</body>
</html>